# Dependency directories
node_modules/
vendor/

# Environment variables
.env

# Build and compiled files
build/
dist/

# Log files
*.log

# Editor and IDE files
.vscode/
.idea/

# Compiled binaries or executables
*.exe
*.dll

# macOS files
.DS_Store

package-lock.json