<!DOCTYPE html>
<html>
  <head>
    <title>Thessaloniki History Photomap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-***"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Add the "About" link -->
    <a href="#" id="aboutLink" class="popup-link" onclick="openPopup()"
      >About</a
    >

    <!-- Add a map -->
    <div id="mapid"></div>

    <!-- Add the slider -->
    <div class="slider-container">
      <button id="hideButton" onclick="toggleSlider()">
        <img src="./public/slider_arrow.png" alt="Hide/Show Arrow" />
      </button>
      <div id="slider"></div>
    </div>

    <!-- About Popup -->
    <div id="aboutPopup" class="about-popup">
      <div class="about-popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>About</h2>
        <p>Add your text here about the application.</p>
        <form
          action="mailto:your-email@example.com"
          method="post"
          enctype="text/plain"
        >
          <label for="comments">Comments:</label>
          <textarea id="comments" name="comments" rows="4" cols="50"></textarea>
          <br />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>

    <!-- Scripts go below -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="/public/js/app.js"></script>
    <script>
      var sliderContainer = document.querySelector(".slider-container");
      var hideButton = document.getElementById("hideButton");
      var mapContainer = document.getElementById("mapid");
      var sliderVisible = true;

      function toggleSlider() {
        sliderContainer.classList.toggle("hidden"); // Add or remove the "hidden" class
        mapContainer.style.height = sliderVisible
          ? "100%"
          : "calc(100% - 100px)"; // Adjust the map height based on slider visibility
        sliderVisible = !sliderVisible;
      }

      // Existing JavaScript code

      var aboutLink = document.getElementById("aboutLink");
      var aboutPopup = document.getElementById("aboutPopup");

      // Open the about popup
      function openPopup() {
        aboutPopup.classList.add("visible");
      }

      // Close the about popup
      function closePopup() {
        aboutPopup.classList.remove("visible");
      }

      // Close the about popup when the page loads
      window.addEventListener("load", function () {
        closePopup();
      });

      // Close the about popup when the user clicks outside of it
      window.addEventListener("mousedown", function (event) {
        var target = event.target;
        var isClickInsidePopup =
          aboutPopup.contains(target) || target === aboutLink;
        var isClickOnBackgroundOverlay =
          target.classList.contains("about-popup");
        var isClickOnPopupContent =
          target.closest(".about-popup-content") !== null ||
          target.classList.contains("about-popup-content");
        if (
          !isClickInsidePopup &&
          !isClickOnBackgroundOverlay &&
          !isClickOnPopupContent &&
          aboutPopup.classList.contains("visible")
        ) {
          closePopup();
        }
      });
    </script>
  </body>
</html>
