<!-- Marker details -->
<div class="marker-details">
    <!-- Image container -->
    <div class="popup-image">
      <img src="<%= markerData.photo %>" alt="Marker Image" />
    </div>
    
    <!-- Caption container -->
    <div class="caption-container">
      <span class="caption"><%= markerData.caption %></span>
      <button type="button" class="share-button">
        <i class="fas fa-link"></i>
      </button>
    </div>
  </div>
  